<html>
<body>
<centre>
<p style="color:DodgerBlue;"><h1>WELCOME TO ANSIBLE</h1></p>
<p style="color:MediumSeaGreen;"><h1>MY ANSIBLE FAMILY IS:"{{ansible_os_family}}"</h1></p>
</centre>
</body>
</html
